/*
    (\__/)
    (•ㅅ•)
*/

@import url('https://fonts.googleapis.com/css?family=Lato');
/*General Styling*/

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-family: 'Noto Serif', serif;
  color: #434343;
}

h1 {
  font-size: 8rem;
  margin: 0;
  text-shadow: 0px 0px 15px black;
}

header, section {
  padding: 75px 50px;
}

header {
  background-size: cover;
  background-position: 50% 30%;
  background-color: #08050d;
  background-repeat: no-repeat;
  background-image: url("http://spam.bychao.com/gallery/images/art/20211227_Fleur.png");
  color: #eee;
}

/*
header p span {
  padding: 0 5px;
  background-color: #5f689999;
}*/

p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 0;
}

li {
  font-size: 1rem;
  line-height: 2;
}

footer {
  height: 6vh;
  padding: 1%;
}

footer p {
  font-size: 1rem;
  padding: 0;
  text-align: center;
}

/*Normal links*/
a {
  text-decoration: none;
}

a:link {
  color: #82b4ff;
}

a:visited {
  color: #3c8aff;
}

/*Button links*/
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  height: 100%;
  min-height: 10vh;
}


.button {
  background-color: #aa895e;
  border-radius: 3px;
  display: inline-block;
  margin: 0 2% 0 0;
}

.button a:link, .button a:visited {
  color: white;
  display: inline-block;
  font-size: 1.2rem;
  padding: 8px 40px;
  text-align: center;
}

.button:hover {
  background-color: #f39141;
}


img {
  border-radius: 3px;
  display: block;
  max-width: 100%;
  max-height: 90vh;
  background-color: #c7c7c7;
}

.galleryHalf, .galleryFull {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2rem;
  font-style: italic;
}

.galleryHalf p, .galleryFull p {
  font-style: normal;
  font-size: 1rem;
}

.galleryHalf {
  margin: 0.5rem 20px;
}

.galleryFull {
  margin: 20px;
  width: 100%;
}

hr {
  border: 1px solid #434343;
  width: 50%;
  margin: 0;
}

.galleryHalf img, .galleryFull img {
  cursor: zoom-in;
}

.modal {
  cursor: zoom-out;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  overflow-x: scroll;
  overflow-y: scroll;

  width: 100vw;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal img {
  max-width: fit-content;
  max-height: fit-content;
  margin: 2vw auto;
}

.hidden {
  display: none;
}

.web-projects {
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.web-projects img {
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  margin-right: 10px;
}

/* Small devices (landscape phones, 576px and up) */
/*@media (max-width: 576px) {

}*/

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .button a:link, .button a:visited {
    font-size: 1rem;
    padding: 6px 10px;
  }

  p {
    font-size: 1rem;
  }

  .galleryHalf {
    margin: 20px 0;
  }

  ul {
    padding-left: 15px;
  }
}

/* Large devices (1920px and up) */
@media (min-width: 1920px) {
  header p {
    font-size: 2rem;
  }

  .galleryHalf {
    margin: 0.5rem 75px;
  }
}

/* Enden's notebook */
@media (min-width: 2880px) {

  h2 {
    font-size: 2rem;
  }

  .galleryHalf {
    margin: 0.5rem 75px;
  }
}